
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AspNetUsers



<style>
    #leftbox {
        float: left;
        display: flex;
        box-sizing: padding-box;
        width: auto;
        height: auto;
        padding: 10px
    }

    #rightbox {
        float: right;
        display: flex;
        box-sizing: padding-box;
        width: auto;
        height: auto;
        border: 2px solid purple;
        padding: 10px
    }
</style>

<div class="display-1">
    <div class="text-center">
        <p>Search</p>
    </div>

</div>
<form id="myformOne" asp-controller="Home" asp-action="Results" onsubmit="return ValidationEvent()">
    <div id="leftbox">
        <div class="col-8">

            <fieldset>
                <legend>Search Options</legend>
                @*<div class="form-group">
                    <label for="userName">User Name</label>
                    <input class="form-control" type="Text" name="userName" pattern="[A-Za-z0-9]+" />
                </div>*@
                @if (ViewData["MyGames"] != null)
                {
                    <div class="form-group">
                        <label for="game">Steam Game Title</label>
                        <select name="steamTitle">
                            <option value=null></option>
                            @foreach (var item in ViewData["MyGames"] as List<string>)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    </div>
                }
                <div class="form-group">
                    <input class="form-control btn btn-primary" type="submit" value="Search" />
                </div>
                <div class="form-group">
                    <label for="boardgame">Board Game Title</label>
                    <select name="boardTitle">
                        <option value=null></option>
                        @foreach (var item in ViewData["Games"] as List<BoardGames>)
                        {
                            <option value="@item.Title">@item.Title</option>
                        }

                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control btn btn-primary" type="submit" value="Search" />
                </div>
                <div class="form-group">
                    @*<fieldset>
                        <legend>Type Of Play</legend>

                        <select name="difficult">
                            <option value=""></option>
                            <option value="casual">Casual Play</option>
                            <option value="competitive">Competitive Play</option>
                            <option value="win">Play to Win</option>
                        </select>

                    </fieldset>*@
                </div>

            </fieldset>
        </div>
    </div>
</form>



<div id="rightbox">

    <div class="col-4">
        <div>
            <fieldset>
                <table>
                    <tr><td><h4>Friend List</h4></td></tr>
                    @if (ViewData["Friends"] != null)
                    {
                        foreach (var friend in ViewData["Friends"] as List<string>)
                        {
                            <tr>
                                <td>
                                    @friend
                                    <button onclick="location.href='@Url.Action("Profile", "Home", new { friend = friend })'">Profile</button>

                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td><button type="button" class="rounded badge-info" value="Rate Player" onclick="location.href='@Url.Action("Ratings", "Home")'">Rate Players</button></td>
                    </tr>

                </table>
                
                <table style="width: inherit">
                    <tr><td><h4>Ban List</h4></td></tr>
                    @if (ViewData["Bans"] != null)
                    {
                        @foreach (var item in ViewData["Bans"] as List<string>)
                        {
                            <tr>
                                <td>@item</td>
                            </tr>
                        }
                    }

                </table>
                <button type="button" class="rounded badge-info" value="Clear Bans" onclick="location.href='@Url.Action("Clear", "Match")'">Clear Bans</button>
            </fieldset>

        </div>
    </div>


</div>

