
@{
    ViewData["Title"] = "Preferences";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AspNetUsers

<div class="text-center">
    <h1>Welcome to GroupUp!</h1>
    <p>Please confirm your information:</p>
    <form id="Preferences" asp-controller="Home" asp-action="UserPerf" onsubmit="return ValidationEvent()">
        <fieldset>
            <div class="form-group">
                <label for="steam">Steam ID (Optional)</label>
                @if (Model.SteamInfo != null)
                {
                    <input type="text" placeholder="@Model.SteamInfo" name="steam"/>
                }else
                {
                    <input type="text" name="steam"/>
                }
                
            </div>
            <div class="form-group">
                <label for="difficulty">Select Difficulty</label>
                <select name="difficulty">
                    <option value="@Model.UserPref">Current Difficulty is: @Model.UserPref</option>
                    <option value="casual">Casual</option>
                    <option value="competitive">Competitive</option>
                    <option value="win">Play to Win</option>
                </select>
            </div>
            <div class="form-group">
                <label for="boardgames">Select Your Favorite Board/Card Games</label>

                @foreach (var item in ViewData["Games"] as List<BoardGames>)
                {
                    @if (Model.BoardGamePref != null && Model.BoardGamePref.Contains(@item.Title))
                    {
                        <input type="checkbox" value="@item.Title" name="boardgames" checked="checked" /><label for="@item.Title">@item.Title</label>
                    }
                    else
                    {
                        <input type="checkbox" value="@item.Title" name="boardgames" /><label for="@item.Title">@item.Title</label>
                    }
                }

            </div>
            <input type="submit" />
        </fieldset>
    </form>

</div>
